/* Navigation Bar */
 nav {
  height: 100%;
  width: 300px; 
  position: absolute; 
  z-index: 1; 
  top: 0; 
  left: 0;
  background-color: #B6A6A1; 
  padding: 20px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #523D3D;
  display: block;  
  font-family: 'Roboto', sans-serif;
  left: -350px;
  overflow:auto;
}
/*Sidebar Text */

body {
	background-color: #383636;
}
/* main page*/
header {
  margin-left: 320px; /* Same as the width of the sidebar */
  text-decoration: none;
  color: #E27D60;
  font-family: 'Roboto', sans-serif;
  position:relative;
}
header > h1 {
	text-align: center; font-family: 'Pacifico', cursive;
}
a {
text-decoration: none;
}
.center { /* Centers Sidebar Image */
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	width: 90%;
}
nav h1 {
	font-size: 40px;
	font-family: 'Pacifico', cursive;
}
/* CSS for centerpiece Image */
.mainimage { 
	margin:40px 0px 0px 100px;
	border: 3px solid #F5DF98; 
	float:left;
}
section {
  margin-left: 320px; /* Same as the width of the sidebar */
  text-decoration: none;
  color: #E27D60;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
}
.right {
	height: 100%;
	width: 300px; 
	position: absolute; 
	z-index: 1; 
	top: 0; 
	background-color: #B6A6A1; 
	overflow-x: hidden; 
	padding: 20px 8px 6px 16px;
	text-decoration: none;
	font-size: 25px;
	color: #523D3D;
	display: block;  
	font-family: 'Roboto', sans-serif;
	right:0px;
	overflow:scroll;
} 
.BarIcon{
	position:absolute;
	height:50px;
	width:50px;
}
.XIcon {
	position:absolute;
	height:50px;
	width:50px;
	left:250px;
	top:10px;
}
:target#Anim1 {
	animation-name:sidebar1;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}
@keyframes sidebar1 {
	0%   { left:-300px; top:0px;}
	100%  {left:0px; top:0px;}
}
:target#Anim2 {
	animation-name:sidebar2;
	animation-duration: 1s;
}
@keyframes sidebar2 {
	0%   { left:0px; top:0px;}
	100%  {left:-370px; top:0px;}
}
#socialmedia {
	width: 64px;
	height: 64x;
}
a img.hover {
	display: none;
}
a img.default {
	display: inherit;
}
a:hover img.hover {
	display: inherit;
}
a:hover img.default {
	display: none	
}
.video  { 
	width:560px; 
	height:315px; 
	position:absolute;
	border: 3px solid #F5DF98;
	margin-left: 75px;
}